.container{
  background-color: #F5F2EB;
}
.carousel-caption {
  bottom: 30px;
  z-index: 10;
  text-align: center;
  top:9em;
  font-family:"Party Business", Times, serif;
  color: #FFFFFF;
}
.carousel-caption h4{
  font-size: 4em;
  text-align: left;
}
.carousel-caption p{
  font-size: 2em;
  text-align: left;
}
#symbol{
  font-family: "Tengwar Annatar", Times, serif;
  color: orange ;
}

.picture{
  position:relative;
}
.card-img-top{
  z-index:1;
  width:100%;
  height:100%;
  opacity:0.5;
}
.reward{
  position: absolute;
  background-color:#F5F2EB ;
  box-shadow: 8px 8px 12px #5D5C57;
  z-index: 5;
  opacity:.8;
  font-family:"Party Business", Times, serif;
	font-weight: bold;
 	text-align:center;
	font-size:2.3em;
	top: 0.5em;
	left:15%;
	border-radius: 10px;
}
.dead{
  position: absolute;
  z-index: 5; 
  opacity:.8;
  font-family:"Party Business", Times, serif;
  font-weight: bold;
  text-align:center;
  font-size:4em;
  top: 0.5em;
  left:30%;
  border-radius: 10px;
}
.name{
  position:absolute;
  z-index: 5; 
  font-family:"Party Business", Times, serif;
  text-align:center;
  top:50%;
  color:#FFFFFF;
  font-size:5em;
  width:100%;
}
.orange {
  color: #EA3F1C
}
.textbarre{
  text-decoration: line-through;
  text-decoration-color: #FE661D;
}

.card:hover .reward .dead {display: none;}
.card:hover .name{
  position:absolute;
  font-family:"Party Business", Times, serif;
  text-align:center;
  top:80%;
  color:#FFF;
  font-size:2em;
  width:100%;
}

@media (max-width:1300px){

.reward{
	padding: 0em;
	font-size: 30px;
	top: 0.5em;
	left:20%;
	border-radius: 3px;
}
.name{
  position:absolute;
  text-align:center;
  top:50%;
  color:#FFFFFF;
  font-size:1em;
  width:100%;
}

}

#navbar{
  background-color: #FE661D

}
#navbar a{
  font-family:"Party Business", Times, serif;
  font-size: 1.5em;
  text-align: center;
  color: #FFFFFF;
}
.fellows h2{
  font-family:"AnironC", Times, serif;
  font-weight: bold;
  font-size: 25px;
  padding: 30px;

}
.fellows small{
  font-family:"AnironC", Times, serif;
  font-weight: bold;
}
.badge{
  padding: 20px;
  margin: 20px;
  font-family:"AnironC", Times, serif;
  font-size:17px;
  color: #5D5C57;
}
.badge:hover{
  color: #FE661D;
}
.card{
   border: 5px solid black;
}
.card-body{
  background-color: black;
  font-family:"Party Business", Times, serif;
  color: #FFFFFF;
  font-size: 2em;
}