.img{
  position:relative;
  z-index:1;
  opacity:0.5
}

.orange{
  color:orange;
  font-size: 10rem;
  font-weight: bold;
}

.figfellows{
  position:relative;
}
.figcaptionfellows .name{
  position:absolute;
  z-index:2;
  top:20rem;
  padding:7rem;
  color:#FFFFFF;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-align: center;

}
.figcaptionfellows .reward {
    width: 20rem;
    height: 10rem;
    position:absolute;
    z-index:2;
    top: 3rem;
    margin-left: 70px;
    background-color:#FFFFFF ;
    color: #000;
    border-radius: 7px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    text-decoration: none; 
}



.card:hover img {
  opacity:1;
}
.card:hover .reward{
  display:none;
}
.card:hover .name{
  position:absolute;
  z-index:2;
  top:110px;
  left:50px;
  color:#FFFFFF;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 3rem;
}